<ion-content>
  <div *ngIf="loading" id="loading">
    <div class="sk-chase">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
  </div>
  <div id="blink" class="blink">
    <img id="pet-icon" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <ion-grid class="info">
    <ion-row>
      <ion-col size-sm="2" size-md="2" size-xl="1">
        <img class="logo" src="assets/imgs/huan_logo.png" />
      </ion-col>
      <ion-col size-sm="2" size-md="2" size-xl="1">
        <div class="ppn-title">
          The Pet<br>Protection<br>Network
        </div>
      </ion-col>
      <ion-col size-sm="2" size-md="2" size-xl="1">
        <div class="location-title">
          Latest Pet Detected:
        </div>
        <div id="location" class="location">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="legend-grid">
    <ion-row>
      <ion-col class="legend-title">
        Legend
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="legend">

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="legend-description">
        Few Pets
      </ion-col>
      <ion-col style="text-align: right" class="legend-description">
        Many Pets
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="legend-divider">

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="1">
        <ion-icon class="sharer-icon" name="logo-facebook" (click)="shareOnFacebook()"></ion-icon>
      </ion-col>
      <ion-col size-xs="1">
        <ion-icon class="sharer-icon" name="logo-twitter" (click)="shareOnTwitter()"></ion-icon>
      </ion-col>
      <ion-col size-xs="1">
        <ion-icon class="sharer-icon" name="mail" (click)="shareOnEmail()"></ion-icon>
      </ion-col>
      <ion-col style="text-align: right">
        <ion-button class="join-huan" size="small" href="https://gethuan.com/" target="_blank">Join Huan</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="info">
    <img class="logo" src="assets/imgs/huan_logo.png" />
    <div class="ppn-title">
      The Pet<br>Protection<br>Network
    </div>
    <div class="location-box">
      <div class="location-title">
        Latest Pet Detected:
      </div>
      <div id="location" class="location">
      </div>
    </div>
  </div> -->


  <div id="mapId" style="width: 100%; height: 100%;">
  </div>

</ion-content>