<ion-content>
  <div *ngIf="loading" id="loading">
    <div class="loading-title">
      <div>
        <img class="logo" src="assets/imgs/huan_logo.png" />
      </div>

      THE PET PROTECTION NETWORK
    </div>
    <div class="sk-chase">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
    <div class="loading-text">
      {{ loadingText[loadingTextIndex] }}
    </div>
  </div>
  <div id="blink0" class="blink">
    <img id="pet-icon0" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink1" class="blink">
    <img id="pet-icon1" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink2" class="blink">
    <img id="pet-icon2" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink3" class="blink">
    <img id="pet-icon3" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink4" class="blink">
    <img id="pet-icon4" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink5" class="blink">
    <img id="pet-icon5" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink6" class="blink">
    <img id="pet-icon6" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink7" class="blink">
    <img id="pet-icon7" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink8" class="blink">
    <img id="pet-icon8" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink9" class="blink">
    <img id="pet-icon9" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>

  <div id="blink10" class="blink">
    <img id="pet-icon10" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink11" class="blink">
    <img id="pet-icon11" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink12" class="blink">
    <img id="pet-icon12" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink13" class="blink">
    <img id="pet-icon13" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink14" class="blink">
    <img id="pet-icon14" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink15" class="blink">
    <img id="pet-icon15" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink16" class="blink">
    <img id="pet-icon16" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink17" class="blink">
    <img id="pet-icon17" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink18" class="blink">
    <img id="pet-icon18" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink19" class="blink">
    <img id="pet-icon19" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>

  <div id="blink20" class="blink">
    <img id="pet-icon20" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink21" class="blink">
    <img id="pet-icon21" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink22" class="blink">
    <img id="pet-icon22" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink23" class="blink">
    <img id="pet-icon23" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink24" class="blink">
    <img id="pet-icon24" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink25" class="blink">
    <img id="pet-icon25" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink26" class="blink">
    <img id="pet-icon26" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink27" class="blink">
    <img id="pet-icon27" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink28" class="blink">
    <img id="pet-icon28" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>
  <div id="blink29" class="blink">
    <img id="pet-icon29" class="pet-icon" src="assets/imgs/active_user-1.png" />
  </div>

  <div class="header">
    <div class="header-title">Real-Time pet detection map</div>
    <ion-button class="join-huan" size="small" href="https://www.gethuan.com/shop/" target="_blank">
      Join Huan 🐶
    </ion-button>
  </div>
  <div *ngIf="!embed" id="streaming-box" class="streaming-box">
    <div id="streaming-timestamp" class="streaming-timestamp"></div>
    <div id="streaming-event" class="streaming-event">Loading latest Network events...</div>
    <ion-item id="streaming-item" class="streaming-name" lines="none">
      <ion-avatar slot="start">
        <img id="streaming-avatar" src="">
      </ion-avatar>
      <ion-label>
        <p id="streaming-name" class="streaming-name"></p>
        <p id="streaming-location" class="streaming-location"></p>
      </ion-label>
    </ion-item>
  </div>

  <ion-grid class="info">
    <ion-row>
      <ion-col size-sm="2" size-md="2" size-xl="1">
        <img class="logo" src="assets/imgs/huan_logo.png" />
      </ion-col>
      <ion-col size-sm="2" size-md="2" size-xl="1">
        <div class="ppn-title">
          The Pet<br>Protection<br>Network
        </div>
      </ion-col>
      <ion-col *ngIf="petsSeenAwayFromHome > 0" size-sm="1" size-md="1" size-xl="1">
        <div class="stat-number">
          {{ petsSeenAwayFromHome }}
          <!-- <div class="time-icon">
            <ion-icon name="time"></ion-icon>
          </div> -->
          <div class="time-badge">
            <ion-badge>24 HRS</ion-badge>
          </div>
        </div>
      </ion-col>
      <ion-col *ngIf="petsSeenAwayFromHome > 0" size-sm="2" size-md="2" size-xl="1">
        <div class="stat-info">
          Pets detected away from home
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid *ngIf="!embed" class="legend-grid">
    <ion-row>
      <ion-col class="legend-title">
        Map Legend
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="legend">

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="legend-description">
        Few Pets
      </ion-col>
      <ion-col style="text-align: right" class="legend-description">
        Many Pets
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="legend-divider">

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="1">
        <ion-icon class="sharer-icon" name="logo-facebook" (click)="shareOnFacebook()"></ion-icon>
      </ion-col>
      <ion-col size-xs="1">
        <ion-icon class="sharer-icon" name="logo-twitter" (click)="shareOnTwitter()"></ion-icon>
      </ion-col>
      <ion-col size-xs="1">
        <ion-icon class="sharer-icon" name="mail" (click)="shareOnEmail()"></ion-icon>
      </ion-col>
      <ion-col style="text-align: right">
        <ion-button class="join-huan" size="small" href="https://gethuan.com/product/huan-tag-basic/" target="_blank">
          Join Huan
          <ion-icon slot="end" name="paw"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->


  <div id="mapId" style="width: 100%; height: 100%;">
  </div>

</ion-content>